<%= form_with model: @config, url: spreadsheet_public_path(:contest, @object), data: { turbo: false } do |f| %>
  <div class="control-group row mb-3">
    <%= f.label :header, 'Заголовок', class: 'col-sm-2 col-form-label text-md-end' %>
    <div class="col-sm-10">
      <div class="input-group">
        <%= f.text_field  :header, class: 'form-control' %>
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"></button>
        <ul class="dropdown-menu dropdown-menu-end" data-action="prefill" data-target="#spreadsheet_config_public_header">
          <button type="button" class="dropdown-item">Протокол спільного засідання журі та оргкомітету <%= @object.display_name %></button>
          <button type="button" class="dropdown-item">Попередні результати <%= @object.display_name %></button>
          <button type="button" class="dropdown-item">Протокол засідання журі <%= @object.display_name %></button>
          <button type="button" class="dropdown-item">Остаточні результати <%= @object.display_name %></button>
        </ul>
      </div>
    </div>
  </div>

  <div class="control-group row mb-3 has_many_association_type tasks_field">
    <%= f.label :grade_groups, 'Класи', class: 'col-sm-2 col-form-label text-md-end' %>
    <div class="col-sm-10" data-component="grade-groups">
      <%= f.hidden_field :grade_groups, value: @config.grade_groups.to_json %>
      <div class="d-flex flex-row align-items-center">
        <div class="w-100">
          <select data-target="grades" multiple class="form-control" size="5">
            <% Grade.find_each do |grade| %>
              <option value="<%= grade.id %>"><%= grade.name %></option>
            <% end %>
          </select>
        </div>
        <div class="mx-2 d-flex justify-content-center align-items-center flex-column">
          <button type="button" class="btn btn-secondary" data-action="move-to-groups">></button>
          <button type="button" class="btn btn-secondary mt-1" data-action="move-to-grades"><</button>
        </div>
        <div class="w-100">
          <select data-target="groups" multiple class="form-control" size="5">
            <% @config.grade_groups.each do |grades| %>
              <option value="<%= grades.join(',') %>"><%= grades.map { Grade::VALUES[_1] }.join(', ') %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="control-group row mb-3">
    <%= f.label :result_table, 'Таблиця результатів', class: 'col-sm-2 col-form-label text-md-end' %>
    <div class="col-sm-10">
      <div class="col-form-label">
        <%= f.check_box  :result_table, class: 'form-check-input' %>
      </div>
    </div>
  </div>

  <div class="control-group row mb-3">
    <%= f.label :main_judge, 'Голова журі', class: 'col-sm-2 col-form-label text-md-end' %>
    <div class="col-sm-10">
      <div class="col-form-label">
        <%= f.check_box  :main_judge, class: 'form-check-input' %>
      </div>
    </div>
  </div>

  <div class="control-group row mb-3">
    <%= f.label :judge_list, 'Члени журі', class: 'col-sm-2 col-form-label text-md-end' %>
    <div class="col-sm-10">
      <div class="col-form-label">
        <%= f.check_box  :judge_list, class: 'form-check-input' %>
      </div>
    </div>
  </div>

  <div class="control-group row mb-3">
    <%= f.label :orgcom_head, 'Голова оргкомітету', class: 'col-sm-2 col-form-label text-md-end' %>
    <div class="col-sm-10">
      <div class="col-form-label">
        <%= f.check_box  :orgcom_head, class: 'form-check-input' %>
      </div>
    </div>
  </div>

  <div class="control-group row mb-3">
    <%= f.label :orgcom_secretary, 'Секретар оргкомітету', class: 'col-sm-2 col-form-label text-md-end' %>
    <div class="col-sm-10">
      <div class="col-form-label">
        <%= f.check_box  :orgcom_secretary, class: 'form-check-input' %>
      </div>
    </div>
  </div>

  <div class="control-group row mb-3">
    <%= f.label :appeal_head, 'Голова апеляційної комісії', class: 'col-sm-2 col-form-label text-md-end' %>
    <div class="col-sm-10">
      <div class="col-form-label">
        <%= f.check_box  :appeal_head, class: 'form-check-input' %>
      </div>
    </div>
  </div>

  <div class="form-actions row justify-content-end my-3">
    <div class="col-sm-10">
      <%= f.button type: :submit, class: 'btn btn-primary' do %>
        <i class="fas fa-check"></i>
        Save
      <% end %>
    </div>
  </div>
<% end %>
