<li><%= link_to 'Головна', [contest, :judge] %></li>
<li><%= link_to 'Зареєстровані', [contest, :users] %></li>
<li><%= link_to 'Завдання', [:content, contest] %></li>
<li><%= link_to 'Статистика олімпіади', [contest, :statistics] %></li>
<li><%= link_to 'Результати олімпіади', [contest, :results] %></li>
<li><%= link_to 'Повернутися', :root %></li>
<li></li>
