<% unless sidebar_hidden? %>
  <div id="sidebar">
    <ul class="nav">
      <li><%= link_to 'Реєстрація', [:new, contest, :user] %></li>
      <li><%= link_to 'Зареєстровані', [contest, :users] %></li>
      <li><%= link_to 'Завдання', [:content, contest] %></li>
      <li><%= link_to 'Відправлення розв\'язків', [:new, contest, :upload] %></li>
      <li><%= link_to 'Статистика олімпіади', [contest, :statistics] %></li>
      <li><%= link_to 'Результати олімпіади', [contest, :results] %></li>
      <% if contest.archived? %>
        <li><%= link_to 'Архів', [:contests, archived: true] %></li>
      <% end %>
      <li><%= link_to 'Головна', :root %></li>
      <li></li>
    </ul>
    <div id="time">--:--:--</div>
  </div>
<% end %>
