<h3 class="for-form">Відправка розв'язків</h3>

<% if resource.errors[:user].any? %>
  <div class="error mb-2">
    Технічна помилка! Ви ввели помилковий код =(
  </div>
<% end %>

<% if policy(resource).create? %>
  <%= form_with model: resource, url: [contest, :upload], class: 'default-form' do |f| %>
    <div class="field">
      <%= f.password_field :secret, required: true, pattern: '[A-Za-z]{2}\d{4}', placeholder: 'Код доступу',
        title: 'Код доступу повинен містити дві великі латинські літери та чотири цифри.' %>
    </div>

    <%= f.fields_for :solutions, include_id: false do |b| %>
      <%= b.hidden_field :task_id %>
    <% end %>

    <div class="field" align="right">
      <%= f.submit 'Підтвердити', class: 'btn' %>
    </div>
  <% end %>
<% else %>
  <p class="error">Відправка розв'язків заборонена. Повідомте технічного працівника.</p>
<% end %>
