<!DOCTYPE html>
<html>
  <head>
    <title>Олімпіада з ІКТ</title>
    <meta name="keywords" content="Олімпіада з ІКТ, олімпіада з інформаційних технологій, олімпіада, ікт, ІКТ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag :application %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
