<!DOCTYPE html>
<html>
  <head>
    <title>Олімпіада з ІКТ</title>
    <meta name="keywords" content="Олімпіада з ІКТ, олімпіада з інформаційних технологій, олімпіада, ікт, ІКТ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'font', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'orgcom', media: 'all' if orgcom? %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag :application %>
    <%= javascript_include_tag :orgcom if orgcom? %>
  </head>
  <body>
    <div id="container">
      <%= render 'widgets/header' %>
      <div class="page-wrapper">
        <%= render 'widgets/sidebar' %>
        <div id="contents" class="content">
          <%= yield %>
        </div>
        <div class="clearfix"></div>
      </div>
      <%= render 'widgets/footer' %>
    </div>
  </body>
</html>
